@tailwind base;@tailwind components;@tailwind utilities;:root{--lightningcss-light:initial;--lightningcss-dark: ;color-scheme:light}html,body,#root{height:100%}@apply bg-white text-zinc-900 antialiased;
